* {
    margin: 0;
    padding: 0%;
    font-family: sans-serif;
}

.hero {

    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background: #f2f2f2;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    left: 5%;
}

nav {
    position: fixed;
    display: flex;
    width: 95%;
    /* margin: auto; */
    gap: 2rem;
    padding: 20px ;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}
nav img{
    position:relative;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 1.05rem;
    transition: 0.3;
}

nav ul li a:hover {
    color: #38bdf8;
    text-shadow: 0 0 10px  #38bdf8;
}

.btn {
    display: flex;
}

.buttons{
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
    background: #38bdf8;
    color: black;
    box-shadow: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.buttons:hover{
    background: #0aa9f3;
    box-shadow: 0 0 15px #0aa9f3 ;
}


.hero-content{
    display: flex;
    flex-basis: 50%;
    flex-grow: 1;
}
.detel {
    position: absolute;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
    flex-direction: row;
    top: 45%;
    left: 7%;

}

.detel h1 {
    font-size: 50px;
    flex-basis: 50%;
    color: #212121;
    margin-bottom: 20px;
    font-weight: bold;
}

span {
    color: #0051ff;
}

.detel p {
    color: #555;
    line-height: 22px;
    margin-bottom: 35px;
    font-size: 18px;
}


/* for button */
 .tag-box{
    position: relative;
    width: 18rem;
    height: 2.5rem;
    border-radius: 50px;
    background:linear-gradient(to left ,  #E0F2FF, 
  #90CAF9, 
  #42A5F5, 
  #1E88E5, 
  #1565C0, 
  #0D47A1);
    background-size: 200%;
    animation: animationGradient 2s linear infinite;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

@keyframes animationGradient {
    to {
        background-position: 200% ;
    }
    
}

 .tag-box .tag{
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.05s ease;
    cursor: pointer;
}



.tag-box .tag:hover{
    color:#0aa9f3;
}

.tag-box .tag a {
    color: black;
}

.tag-box .tag a:link {
  color: #1E88E5; /* normal link (blue) */
}

.tag-box .tag a:visited {
  color: bal; /* visited link (purple) */
}

.tag-box .tag a:hover {
  color: #E53935; /* hover (red) */
}

.tag-box .tag a:active {
  color: #43A047; /* active/clicking (green) */
}


image {
    width: 45%;
    height: 80%;
    object-fit: cover;
    position: absolute;
    bottom: 0%;
    right: 100px;
}

.images {


    width: 45%;
    height: 70%;
    position: absolute;
    bottom: 10%;
    right: 100px;
}

.images img {
    height: 600px;
    width: 500px;
    left: 50%;
    bottom: 0%;
    position: absolute;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape {
    bottom: 40px;
}

.images:hover .boy {
    left: 40%;
}