* {
    margin: 0;
    padding: 0%;
    font-family: sans-serif;
}

.hero {

    position: relative;
    width: 100%;
    height: 100vh;
    background: #f2f2f2;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

nav {
    display: flex;
    width: 95%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    color: red;
}

.detel {
    position: absolute;
    top: 45%;
    left: 7%;

}

.detel h1 {
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
    font-weight: bold;
}

span {
    color: #0051ff;
}

.detel p {
    color: #555;
    line-height: 22px;
    margin-bottom: 35px;
    font-size: 18px;
}

.detel a {
    background: #0051ff;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin: auto 0;
}

image {
    width: 45%;
    height: 80%;
    object-fit: cover;
    position: absolute;
    bottom: 0%;
    right: 100px;
}

.images {
    width: 45%;
    height: 70%;
    position: absolute;
    bottom: 10%;
    right: 100px;
}

.images img {

    height: 600px;
    width: 500px;
    left: 50%;
    bottom: 0%;
    position: absolute;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape {
    bottom: 40px;
}

.images:hover .boy {
    left: 45%;
}